{% extends 'base.html.twig' %}

{% block title "Brasserie - Restaurant" %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

	{{ encore_entry_link_tags('app')}}
{% endblock %}
{% block body %}
	<div id="app"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app')}}
{% endblock %}
