::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e9ecef;
}

::-webkit-scrollbar-thumb {
  background: #a8adb3;
}

.popup {
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
.liste {
  height: 35em;
  overflow-y: scroll;
  overflow: auto;
  border-radius: 5px;
}
.listeProfil {
  height: 10.5em;
  overflow-y: scroll;
  overflow: auto;
  border-radius: 5px;
  width: 20em;
}
.clienttable {
  margin-left: 17%;
  margin-right: 17%;
  padding: 0;
  margin-bottom: 0.5em;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.jumbotron {
  margin-right: 8vw;
  margin-left: 8vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
.footer {
  margin-right: 8vw;
  margin-left: 8vw;
}
.list-group-item:hover {
  background-color: #f0f0f0;
}
.selected {
  background-color: #f0f0f0;
}
.block {
  background-color: whitesmoke;
  min-width: 35vw;
  padding: 4vh 4vw;
  box-shadow: lightslategrey 1px 1px 5px 0.1px;
  border-radius: 8px;
}
.blockStep {
  background-color: whitesmoke;
  min-width: 50vw;
  min-height: 35vh;
  padding: 4vh 4vw;
  box-shadow: lightslategrey 1px 1px 5px 0.1px;
  border-radius: 8px;
}
.orderBtn {
  min-width: 18vw;
  padding: 4vw;
  margin: 1vh;
  border-width: 0.2vh;
}
.btnblock:hover {
  box-shadow: lightgray 2px 2px 5px 0.5px;
  border-radius: 4px;
}
.body {
  min-height: 78vh;
}
.bg-red-toast {
  background-color: #be1603;
  color: white;
  border-radius: 5px;
}
.panel-table .panel-body {
  padding: 0;
}

.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align: center;
  width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top: 0px;
}

.panel-table .panel-footer .pagination {
  margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}

.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height: 34px;
}
input[type="text"]:disabled {
  background-color: rgb(250, 250, 250);
}
.borderButt {
  border: 1.5px solid;
  min-width: 13vw;
}
